//@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

.menu{
    background-color: white;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    ul{
        list-style: none;
        padding-left: 1rem;
    }
    ul{
        ul{
            max-height: 0px;
            overflow: hidden;
            
        }
    }
    li.show + ul{
        max-height: 100vh;
        //transition: all 3s ease;
    }
    li.show{
        border-right:5px solid #61dafb;
    }
    li{
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.2rem;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .title:after{
        content:' ^';
        color:gray;
    }
    .title.show:after{
        content: ' ˇ';
        color:gray;
    }
}