@charset 'utf-8';

//import font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//import font-awesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

//set colors
$purple:#c0169d;
$pink:#fa7c91;
$dark:#333;
$begin-lighter:rgb(245, 245, 245);

//upgrade global variable
$family-sans-serif:'Nunito',sans-serif;
$primary:$purple;
$link:$dark;
$danger:$pink;

//upgrade component variable
$body-background-color:$begin-lighter;

@import '../../node_modules/bulma/bulma.sass';

.content{
    padding: 2rem 8rem 0rem 8rem;
}