@charset 'utf-8';
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

.space {
  min-height: 100vh;
  background-color: black;
  .flying_words {
    height: 40vh;
    color: yellow;
    border-bottom: 60vh solid red;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
  }
}
