.content {
    padding: 2rem 8rem 0rem 8rem;
    .header_cart{
        padding-bottom: 30px;
        border-bottom: 3px solid black;
        h1{
            margin-bottom: 0px !important;
        }
    }
}