.productInCart{
    padding-top: 50px;
    table{
        margin: auto;
        thead{
            tr{
                th{
                    text-align: center;
                }
            }
        }
        td{
            padding: 1rem;
        }
    }
}