.userProdile_panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  transition: all 0.5s;
  .manage_panel_close {
    float: right;
  }
  .manage_panel_content {
    margin: 2rem 1rem 0px 1rem;
    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .panel_label {
      display: block;
      margin-bottom: 0.5rem;
    }
    input {
      width: 300px;
      margin-bottom: 0.5rem;
    }
    .btn_container {
      padding: 1rem;
      display: flex;
      justify-content: space-around;
    }
  }
}

@media (max-width: 320px) {
  .userProdile_panel {
    padding: 0.5rem;
    .manage_panel_content {
      margin: 0px;
    }
  }
}

.userProdile_panel.close{
    right: -364px;
}

.userProdile_blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.userProdile_blocker.hide {
  display: none;
}
